<div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              
              <center>
<div class="jumbotron">
  <div class="container">
     <h1>Insta App</h1>
  <p>Upload, download and sell your photos</p>
    <%= link_to "Get started",signup_path, class: "btn btn-primary btn-lg" %>
  <p></p>
  </div>
</div>
    <hr>
  <div class="row col-md-12">
    <h3></h3>
  <div class="span4 col-md-4">
    <div class="well">
      <i class="fa fa-plus" id="plus"></i>
      <h3>Add images</h3>
      Take photos of anything nice you find
    </div>
  </div>
  <div class="span4 col-md-4" >
    <div class="well">
      <i class="fa fa-star" id="star"></i>
      <h3>People like</h3>
      People like and follow your pictures
    </div>
  </div>
  <div class="span4 col-md-4">
    <div class="well">
      <i class="fa fa-thumbs-up" id="cash"></i>
        <h3>Earn</h3>
      Get gigs and earn from your pictures
    </div>
  </div>
  </div>
  
    <hr>
    <h3>Join App</h3>
    <%= link_to "Start now",signup_path, class: "btn btn-primary btn-lg" %>
    <hr>
  <h5>More details. 
    <br><u><%= link_to "More", "#", class: 'btn btn-xs btn-default' %></u>
  </h5>
</center>
            </div>
          </div>
          <br><br><hr>
          <footer id="footer">
            <center>
  <div class="links">
    <a href="#">About</a>
    <a href="#">Blog</a>
    <a href="#">Twitter</a>
    <a href="#">Facebook</a>
    <a href="#">Email</a>
    InstaApp © 2017
  </div>
<hr>
<center>
          </center></center></footer>
        </div>
      </div> <!--! end of .container -->
    </div>