.navbar-default {
background-color: #1b1b1b !important;
color: #ddd !important;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 10px;
}
.card-title {
    margin-bottom: .75rem;
}
.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-img-top {
  background-image: url('cam.jpg') !important;
}
.center{
  text-align: center;
}

.jumbotron {
  background-image: url('cam.jpg') !important;
  height: 150% !important;
  background-repeat: no-repeat;
  background-position: 30% 50%; 
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-top-0 {
  padding-top: 1.5%;
}
no-padding-right {
  padding-right: 0px;
}
.no-padding-left {
  padding: 0px !important;
}
#plus {
    color: #4cae4c;
    font-size: 1.5em;
}
#star {
  
    color: #46b8da;
    font-size: 1.5em;
}
#cash {
    color: #e38c2d;
    font-size: 1.5em;
}
.no-padding {
  padding: 0px !important;
}
.logo {
  float: left;
  fot-size: 1.7em;
  color: #A9A9A9 !important;
  letter-spacing: -1px;
  fonr-weight: bold
}
.username {
padding: 0 !important ;
padding-left: 5px;
padding-top: 15px !important;
text-align: center;
.image-view {
  border-radius: 10px;
}
a {
color: black !important;
margin: 0 !important;
padding: 5px!important;
}

a:hover, a:focus {
color: #000 !important;
}

}
.logout {
padding-left: 0;
}

.nav.navbar-right {
padding-bottom: 10px;
padding-top: 5px;
}

.nav.navbar-nav {
.navbar-link {
border-radius: 5px;
color: #fff;
margin-top: 15px;
padding: 8px;

}

.navbar-link:focus, .navbar-link:hover {
background: #3071a9;
color: #fff;
}

li a {
  margin-right: 5px;
  }
}

.nav.navbar-right li {
.btn {
color: #fff !important;
margin-top: 5%;

}

.btn-danger:hover, .btn-danger:focus {
  background-color: darken(#d9534f,20%) !important;
  }
  .btn-primary:hover, .btn-primary:focus {
  background-color: darken(#428bca,20%) !important;
  }
}

.btn-primary:visited, .btn-danger:visited {
color: #fff;
}


