<div class="col-md-12">
    <btn class="col-md-3 btn btn-danger actions"><i class=" fa fa-heart-o"></i></btn>
    <btn class="col-md-3 btn btn-default actions"><i class="fa fa-share-alt"></i></btn>
    <btn class="col-md-3 btn btn-default actions"><i class="fa fa-share-alt"></i></btn>
</div>
